@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary:#61D39A;
    --color-primary-dull:#42AB77;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}